
        body {
            font-family: Arial, sans-serif;
            background-color: #cfddda;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        h1 {
            color: #333;
            margin-top: 20px;
        }

        #quoteDisplay {
            margin: 20px auto;
            padding: 20px;
            max-width: 600px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            margin: 10px;
            background-color: #007bff;
            color: #fff;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }
        button:active{
            opacity: 0.9;
            transform: scale(0.95);
        }

        input[type="text"] {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin: 10px;
            width: 250px;
            box-sizing: border-box;
        }

        #newQuotes {
            margin: 20px auto;
            padding: 20px;
            max-width: 600px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #newQuotes div {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }

        #newQuotes div:last-child {
            border-bottom: none;
        }
